.container {
    margin: auto;
    max-width: 960px;
}

.h1-header {
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.instruction-content {
    margin: auto;
    width: 100%;
}

.instruction-content p{
    margin: 10px;
}

.crystal-content {
    width: 100%;
    margin: auto;
}

#crystal-container {
 
    max-width: 960px;
}

.crystal-img {
    margin: auto;
    float: left;
}

.crystal-img img {
    margin: auto;
    max-width: 240px;
}
 
